@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaLTStd-Roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaLTStd-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaLTStd-Roman.svg#8b26980196e22e3c5fa39ed64bf67836') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaLTStd-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaLTStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaLTStd-Bold.svg#ecc99d5b6a410bc8431befd5c01f3489') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Helvetica LT Std Light';
  src: url('../fonts/HelveticaLTStd-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaLTStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaLTStd-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaLTStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaLTStd-Light.svg#8ce1d556d22a21cda5a0cb13f27836bf') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}


* { padding:0;}
img { width:auto; max-width:100%; }
li { list-style-type:none; }

/* Header */
header{ position:fixed; top:0; background:rgba(255,255,255,0.9); border-bottom: 1px solid #bababa; height: 45px; width: 100%; z-index: 3;}
header .logo{ position: relative; text-align: center;}
header .logo #link_logo{ font-size: 26px; line-height: 45px;}
header .logo #link_logo img{ vertical-align: top; max-height: 44px; }
header .smart_menu{ background: url('../img/menu_icon.png') center center no-repeat; background-size: 50% 50%; height: 45px; left: 0; position: absolute; top:0; width: 50px; z-index: 2;}
.contenu { position: relative; padding-top:45px; }

/* Bx Config */
.bx-controls {display:none; }
.bx-wrapper { margin-bottom: 0;}
.bx-wrapper .bx-viewport{left:0; border:none; box-shadow:none; }
.bx-wrapper .bx-pager { padding-top:0; }

/* Menu */
.menu { position:absolute; top:0px; left:-260px; width:260px; background:#f3f3f3; box-shadow: inset -8px 0px 14px -10px #9b9b9b;}
.menu ul { margin:0; list-style:none; }
.menu ul li { font:15px "Open Sans"; height:49px; line-height:49px;  text-transform:uppercase; border-top:solid 1px #cbcbcb; background:url('../img/arr_menu.png') no-repeat 235px center; }
.menu ul li > a { display:block; padding:0 0 0 15px; color:#4c4c4c; }
.menu ul li a:hover, .menu ul li a.active { background:#d6d6d6 url('../img/arr_menu.png') no-repeat 235px center; }
.menu #infos_compte { height:auto; background:#fff; border:none; box-shadow: inset -8px 0px 14px -10px #9b9b9b; }
.menu .flip {  padding:15px 0; background-size:contain; height:370px; }
/*.menu .flip a { display:block;  width:150px; margin:0px auto; font:12px "Open Sans"; border:solid 1px #2b2b2b; text-align:center; height:30px; line-height:30px; background:rgba(255,255,255,0.9); }*/
.menu .flip .login-username input, .menu .flip .login-password input, .menu .flip #loginform .login-submit #wp-submit, .menu #acc-register, .menu .logout{width:200px; margin:10px auto; font:12px "Open Sans"; border:solid 1px #2b2b2b;height:30px;  background:rgba(255,255,255,0.9);text-transform: uppercase;}
.menu .flip #acc-register , .menu .logout{ display:block;height:30px;line-height:30px;margin-top:10px;color:black; padding:0 0 0 10px; margin:0 20px 0 30px;text-align: center;}
.social_connect_ui {font-family:"Open Sans";margin: 0 auto; width: 200px;text-align: center;}
.social_connect_ui p{height:30px;margin: 0;}
.social_connect_form{margin: 0 auto; width: 160px;}
.menu .flap { display:none; }
.menu #loginform { padding:10px 0 0 0; }
.menu #loginform > p { margin:0 20px 0px; padding:0 0 0 10px; font:14px "Open Sans"; color:#4c4c4c; }
.menu #loginform > p label { display:block; margin:0 0 5px 0; }
.menu #loginform > p input { padding:0 10px; font:14px "Open Sans"; }
.menu #loginform .login-remember { font-size:10px; vertical-align:bottom; text-transform:none; }
.menu #loginform #wp-submit { padding:5px 10px; font:14px "Open Sans"; border:none; margin:0 0 10px 0;}

/* Favoris */
.favoris h1 { background:#f8f8f8; box-shadow: 0px 1px 15px -4px #656565; }
.favoris h1 span { display:block; font:700 22px "Open Sans"; width:150px; padding:10px 0 10px 50px; margin:auto; background:url('../img/fav.png') no-repeat left center; background-size:37px 37px; color:#393434; text-transform:uppercase; }
.favoris .fav-product ul { margin:0; }
.favoris .fav-product li {width:100%; border-bottom:solid 1px #d6d6d6; list-style:none;}
.favoris figure { width: 98%; margin:auto; }
.favoris figure:before { display:inline; }
.favoris figure img { display:inline-block; margin: 0 2% 0 0; width:31.25%; vertical-align:middle;}
.favoris figcaption { display:inline-block; vertical-align:middle; width: 64.75%; text-align: right; padding: 10px 0;}
.favoris figcaption .fav-infos {float: left; text-align: left;}
.favoris figcaption h2 { text-transform:uppercase; color:#2b2b2b; margin:0; font:700 16px "Open Sans"; }
.favoris figcaption h3 { margin:0; font:13px "Open Sans"; }
.favoris figcaption h4 { margin:0; color:#e74c3c; font:700 19px "Open Sans"; }
.favoris .remove-fav { display:inline-block; width:40px; height:42px; margin: 12px 0; background:url('../img/btn-remove-fav.png') no-repeat; background-size:40px 42px; }
.favoris .no-fav { font:16px "Open Sans"; color:#2b2b2b; padding:20px; text-align:center; }

/* Historique */
.historique h1 { background:#f8f8f8; box-shadow: 0px 1px 15px -4px #656565; }
.historique h1 span { display:block; font:700 22px "Open Sans"; padding:10px 0 10px 0px; text-align:center; color:#393434; text-transform:uppercase; }
.historique .fav-product ul { margin:0; }
.historique .fav-product li {width:100%; border-bottom:solid 1px #d6d6d6; list-style:none;}
.historique figure { width: 98%; margin:auto; }
.historique figure:before { display:inline; }
.historique figure img { display:inline-block; margin: 0 2% 0 0; width:31.25%; vertical-align:middle;}
.historique figcaption { display:inline-block; vertical-align:middle; width: 64.75%; text-align: right; padding: 10px 0;}
.historique figcaption .fav-infos {float: left; text-align: left;}
.historique figcaption h2 { text-transform:uppercase; color:#2b2b2b; margin:0; font:700 16px "Open Sans"; }
.historique figcaption h3 { margin:0; font:13px "Open Sans"; }
.historique figcaption h4 { margin:0; color:#e74c3c; font:700 19px "Open Sans"; }
.historique .last-view { display:inline-block; margin: 25px 0; }
.historique .no-fav { font:16px "Open Sans"; color:#2b2b2b; padding:20px; text-align:center; }

/* Inscription */
.inscription h1 { background:#f8f8f8; box-shadow: 0px 1px 15px -4px #656565; }
.inscription h1 span { display:block; font:700 22px "Open Sans"; padding:10px 0 10px 0px; text-align:center; color:#393434; text-transform:uppercase; }
.inscription > img { margin: auto; display: block; width: 130px; padding: 20px 0 10px; }
.inscription form { width:80%; margin:auto; ; text-align: center;}
.inscription form p { display:block; width:100%; height:40px; ; text-align: left;}
.inscription form label { float:left; clear:right; font:14px "Open Sans"; width:50%; padding:5px 0 0 0; }
.inscription form .checklabel { width: 85%; float:left; padding:0; }
.inscription form input[type="text"], .inscription form input[type="password"], .inscription form input[type="email"] { float:right; height:30px; width:50%; padding:0 5px; font:14px "Open Sans"; }
.inscription form input[type="checkbox"] { float:left; clear:left; margin:5px 20px 0 0; }
.inscription form input[type="submit"] { border:none; width:80px; margin:auto;text-align: center; padding:10px 20px; text-transform:uppercase; color:#4c4c4c; background:#d6d6d6; }
.inscription .alert-success { font:14px "Open Sans"; text-align:center; padding:50px 0; }