* { padding:0;}
img { width:auto; max-width:100%; }

/* Header */
header{ position:fixed; top:0; background:rgba(255,255,255,0.9); border-bottom: 1px solid #bababa; height: 45px; width: 100%; z-index: 2;}
header .logo{ position: relative; text-align: center;}
header .logo #link_logo{ font-size: 26px; line-height: 45px;}
header .logo #link_logo img{ vertical-align: top; max-height: 44px; }
header .smart_menu{ background: url('../img/menu_icon.png') center center no-repeat; height: 45px; left: 0; position: absolute; top:0; width: 50px; z-index: 2;}
.contenu { position: relative; padding-top:45px; }

/* Bx Config */
.bx-controls {display:none; }
.bx-wrapper { margin-bottom: 0;}
.bx-wrapper .bx-viewport{left:0; border:none; box-shadow:none; }
.bx-wrapper .bx-pager { padding-top:0; }

/* Menu */
.menu { position:absolute; top:0px; left:-260px; width:260px; background:#f3f3f3; box-shadow: inset -8px 0px 14px -10px #9b9b9b;}
.menu ul { margin:0; list-style:none; }
.menu ul li { font:15px "Open Sans"; height:49px; line-height:49px;  text-transform:uppercase; border-top:solid 1px #cbcbcb; background:url('../img/arr_menu.png') no-repeat 235px center; }
.menu ul li a { display:block; padding:0 0 0 15px; color:#4c4c4c; }
.menu ul li a:hover, .menu ul li a.active { background:#d6d6d6 url('../img/arr_menu.png') no-repeat 235px center; }
.menu ul li.infos_compte { height:auto; background:#fff; border:none; box-shadow: inset -8px 0px 14px -10px #9b9b9b; }