
/*------------------------------------*\
	Page Marque
\*------------------------------------*/

/* Slider */
.page_marque .brand_slider li{ margin-top: -11px; }
.page_marque .brand_slider li img { margin:auto;}
.page_marque .brand_subtitle{ background: url('../img/brand_subtitle.png') repeat-x bottom; color: #fff; text-align: center; font: 500 18px "Open Sans"; height: 40px; line-height: 40px;}
.page_marque .brand_subtitle h1{ color: white; font-size: 18px; line-height: 40px; margin: 0; padding: 0; text-align: center; }
.page_marque #brand_name{ text-align: center; text-transform: uppercase; margin: 10px auto;}

/* Logo */
.page_marque .logo_marque .logo-container { position: relative; }
.page_marque .logo_marque .logo-container img { position:absolute; left:50%; z-index:3; -webkit-transform: translate3d(0,0,0); }

/* Description ! */
.description { padding: 0 2.5%; height:auto; margin:0 0 20px 0; text-align:center; }
.description img { margin:15px 0; }
.description h1 { margin:0 10%; font:18px "Open Sans"; text-transform:uppercase; border-bottom:solid 1px #dbdbdb; background: url('../img/bg-description2.png') no-repeat; text-align:center; background-size: 21px 21px;}
.description .text-container { overflow:hidden; height:70px; margin:14px 0; }
.description p { font:14px/24px "Open Sans"; text-align:justify; margin:0 }
.description a.btn_suite { display:block; width: 125px; padding: 4px 0px 4px 10px; margin:auto; border:solid 1px #2b2b2b; font:14px "Open Sans"; float: right;}
.description a.btn_suite span.arrow { display:inline-block; width:14px; height:14px; vertical-align: -2px; margin-left: 7px;}
.description a.description_off span.arrow { background:url('../img/arrow-right.png') no-repeat 0 0px; background-size:50% auto; }
.description a.description_on span.arrow { background: url('../img/arrow-bot.png') no-repeat 0px center; background-size: 100% auto; }
.separator{ background-color: #dbdbdb; height: 1px; margin: 0 auto; width: 30%;}

/* Derniers Produits Ajoutés */
.page_marque .latest_product{ margin: 10px 0; padding: 0 2.5%; width: 100%;}
.page_marque .latest_product h1 { margin: 0; font:18px "Open Sans"; text-transform:uppercase; border-bottom:solid 1px #dbdbdb; background:url('../img/plus.png') no-repeat center left; background-size: 18px 18px; text-align:center;}
.page_marque .latest_product .bx-wrapper {position:relative;margin: 15px auto 0;}
.page_marque .latest_product .bx-controls {display:block; }
.page_marque .latest_product .last_product_img { overflow:hidden;}
.page_marque .latest_product .bx-wrapper, .latest_product .bx-viewport{min-height: 300px;}
.page_marque .last_product{ float: left; width: 100%;}
.page_marque .last_product p{ margin: 0; padding: 0;}
.page_marque .last_product_img{ border-bottom: 1px solid #e74c3c; height:208px;}
.page_marque .last_product_img img{ max-width: 100%;}

/* Slider Derniers Produits */
.page_marque .product_slider{ margin-top: 20px; }
.page_marque .product_slider > div:nth-child(even) { margin:0 10px; }
.page_marque .latest_product .bx-wrapper .bx-pager{ height: 10px; top: 0; }
.page_marque .latest_product .bx-wrapper .bx-pager.bx-default-pager a:hover, .latest_product .bx-wrapper .bx-pager.bx-default-pager a{background: url('../img/btn_puce.jpg') no-repeat; border-radius: 0; height: 10px; width: 10px; }
.page_marque .latest_product .bx-wrapper .bx-pager.bx-default-pager a:hover, .latest_product .bx-wrapper .bx-pager.bx-default-pager a.active{background: url('../img/btn_puce_active.jpg') no-repeat; border-radius: 0; height: 10px; width: 10px; }
.page_marque .last_product_infos{ color: black; font-size: 14px; text-transform: uppercase; }
.page_marque #product_brand{ font-weight: bold; }
.page_marque #product_price{ color: #e74c3c; font-weight: bold; }
.page_marque .brand_rubrique{ height: 125px; margin: 20px auto; position: relative; width: 306px; }
.page_marque .brand_rubrique a{ display: block; height: 100%; position: absolute; width: 100%; z-index: 2; }
.page_marque .brand_rubrique .black_rectangle{ background-color: #000; height: 50px; left: 50%; position:absolute; margin-left: -100px; margin-top: -25px; opacity: 0.6; top: 50%; width: 200px; }
.page_marque .brand_rubrique p{ color: #fff; font:bold 16px "Open Sans"; line-height: 50px; text-transform: uppercase; text-align: center; z-index: 1; height: 50px; left: 50%; position:absolute; margin-left: -100px; margin-top: -25px; top: 50%; width: 200px;}

/* Liens Externes ! */
.external_link { margin:0 2% 20px; }
.external_link li { width:100%; height:125px; margin:0 0 8px 0; list-style:none; }
.external_link li a { display:block; text-align:center; padding:40px 0 }
.external_link li a span { display:block; background:rgba(0,0,0,0.65); color:#fff; font:20px "Open Sans"; text-transform:uppercase; height:40px; line-height:40px; width: 80%; margin:auto; }

/* Points de Vente */
.page_marque .pts_vente { text-align:center; }
.page_marque .pts_vente h1 { background: url('../img/bg-titlemap.png') 0 0 repeat-x; font: 20px "Open Sans"; height: 40px; line-height: 40px; color: #fff; margin: auto; text-align: center; margin: 0 0 1px 0;}
.page_marque .pts_vente h1 span { display: inline-block; background: url('../img/bg-title-icomap.png') 0px 0 no-repeat; background-size:67px ; ; padding: 0 0 0 70px; /* text-align: left; */}

/* Liens Réseaux Sociaux */
.page_marque .social{ background-color: #f2f2f2; height: 235px; width: 100%; }
.page_marque .social .block_share{ display: block; float: left; height: 50%; text-indent: -9999px; width: 50%;}
.page_marque .social .block_share a{ display: block; height: 68px; left: 50%; top: 50%; margin-left: -34px; margin-top: -34px; position: relative; width:69px;}
.page_marque .google{background: url('../img/g+.png') center center no-repeat;}
.page_marque .fb{background: url('../img/fb.png') center center no-repeat;}
.page_marque .twitter{background: url('../img/twitter.png') center center no-repeat;}
.page_marque .insta{background: url('../img/insta.png') center center no-repeat;}


