/*------------------------------------*\
	Page Produit
\*------------------------------------*/
.page_produit hr { width:20%; margin:0 auto; border:0; height:1px; background:#dbdbdb; }

/* Slider */
.page_produit .slider_product{position: relative;min-height: 442px;}
.page_produit .slider_product h1 { color:#2b2b2b; text-align:center; font:20px 'Open Sans'; text-transform:uppercase; padding: 10px 0 9px 0; z-index: 22;}
.page_produit .slider_product .slider_img {position:relative; height:442px; margin: 0;}
.page_produit .slider_product .slider_img li { min-height:442px; }
.page_produit .slider_product .slider_img img { margin:auto; max-height: 100%;}
.page_produit .slider_product .bx-wrapper .bx-pager{ bottom: 50px;}
.page_produit .slider_product #product_price {height:30px; position:absolute; width:100%; bottom: 46px; line-height:30px; margin:0; background:rgba(0,0,0,0.3); color:#fff; text-transform:uppercase; text-align:center; font:bold 22px "Open Sans"; }
.page_produit .slider_product .bx-controls { display:none; }
.page_produit .slider_product #btn_vote {position: absolute;top: 0;right: 0;display: block;height:65px; width:65px; background: url('../img/vote.png') no-repeat bottom; ;margin-top: 377px;z-index: 2;}

/* Vote */
.product_vote.cannot-vote a { cursor: default; }
.product_vote { display:none; overflow:hidden; ; width: 100%; height: 442px; position: absolute; top: 0;}
.product_vote .bg-vote { position: absolute; display:none; width:100%; height: 100%; background:rgba(0,0,0,0.71); ; z-index: 1;}
.product_vote .vote { position: relative; margin: 160px 0 0 0; left:0; width:100%; height: 155px; margin-left:100%; z-index: 2;}
.product_vote .vote .smiley { width:100%; padding:0; ; margin: 0;}
.product_vote .vote .smiley li { display:inline-block; width:33.333333%; height:110px; float:left; list-style:none;  }
.product_vote .vote a { display:block; width:100%; height:110px; }
.product_vote .vote li.active a {border-bottom:solid 8px #e14a3a; }
.product_vote .vote #vote_bad {background: #dddddd url('../img/smiley_bad.png') no-repeat center; background-size: 60px 60px;}
.product_vote .vote #vote_bad.active { background: #fff url('../img/smiley_bad.png') no-repeat center; background-size: 60px 60px;}
.product_vote .vote #vote_neutral {background: #dddddd url('../img/smiley_neutral.png') no-repeat center; background-size: 60px 60px; border-left:solid 1px #bdbdbd;}
.product_vote .vote #vote_neutral.active { background: #fff url('../img/smiley_neutral.png') no-repeat center; background-size: 60px 60px;}
.product_vote .vote #vote_good {background: #dddddd url('../img/smiley_good.png') no-repeat center; background-size: 60px 60px; border-left:solid 1px #bdbdbd;}
.product_vote .vote #vote_good.active {background: #fff url('../img/smiley_good.png') no-repeat center; background-size: 60px 60px; border-left:solid 1px #bdbdbd;}
.product_vote .resultats_vote { /* display:none; */ }
.product_vote .resultats_vote ul{padding: 0; ;margin: 0;}
.product_vote .resultats_vote li { float:left; list-style:none; width:33.333333%; height: 33px; line-height: 33px; text-align:center; background: #bfbfbf; box-shadow: inset 0px 4px 2px -3px #656565; }
.product_vote .resultats_vote li span { display:block; font: 17px "Open Sans"; line-height: 33px; color:#2b2b2b; }

/* Favoris */
.page_produit .favoris { display:none; position:absolute; top:0; background:rgba(0,0,0,0.5); width:100%; height: 442px; text-align:center; }
.page_produit .favoris .fav_img { margin:184px auto 0; width:75px; height:75px; }
.page_produit .favoris .like { background:url('../img/fav.png') no-repeat center; }
.page_produit .favoris .unlike { background:url('../img/unfav.png') no-repeat center; }

/* Infos Lavage */
.page_produit .infos_lavage { text-align:center; width:100%; margin:10px 0 25px 0; }
.page_produit .link-marque h1 { text-align:center; text-transform:uppercase; font:700 20px "Open Sans"; color:#2b2b2b; padding:10px 0 0 0; }
.page_produit .infos_lavage h1 { text-align:center; font:300 16px "Open Sans"; color:#2b2b2b; }
.page_produit .infos_lavage .liste_pictos { display:inline-block; margin:15px auto 5px; height:33px;}
.page_produit .infos_lavage .liste_pictos li { width:33px; height:33px; float:left; list-style:none; margin-right:5px; }
.page_produit .infos_lavage .liste_pictos li a { display:block; width:33px; height:33px; }
.page_produit .infos_lavage li#picto1 { background:url('../img/lavage.png') no-repeat 0 0; }
.page_produit .infos_lavage li#picto2 { background:url('../img/lavage.png') no-repeat -37px 0; }
.page_produit .infos_lavage li#picto3 { background:url('../img/lavage.png') no-repeat -74px 0; }
.page_produit .infos_lavage li#picto4 { background:url('../img/lavage.png') no-repeat -110px 0; }
.page_produit .infos_lavage li#picto5 { background:url('../img/lavage.png') no-repeat -147px 0; margin-right:0; }
.page_produit .infos_lavage .infos_container { display:none; }
.page_produit .infos_lavage .arr_lavage { width:275px; margin:auto; }
.page_produit .infos_lavage .arr_lavage span { display:block; width:23px; height:12px; margin-left: 50px; background:url('../img/arr_lavage.png') no-repeat; }
.page_produit .infos_lavage .bloc_infos { background:#f8f8f8; width:275px; min-height:70px; line-height:65px; margin:auto; padding:0 20px; border:solid 1px #818181; }
.page_produit .infos_lavage .bloc_infos ul {margin: 0; }
.page_produit .infos_lavage .bloc_infos li { width:100%; display:none; font:12px "Open Sans"; color:#2b2b2b; list-style:none; line-height: 16px; vertical-align:middle; }

/* Promotion */
.page_produit .promotion { text-align:center; width:100%; margin: 10px auto 25px;}
.page_produit .promotion .button { display:inline-block; }
.page_produit .promotion .cadenas { width:40px; height:41px; float:left;  }
.page_produit .promotion .lock { background:url('../img/lock.jpg') 0 -41px; } 
.page_produit .promotion .unlock { background:url('../img/lock.jpg') 0 0px; } 
.page_produit .promotion .zone_promo { background:url('../img/bg-promo.png'); color:#fff; font:bold 18px "Open Sans"; text-transform:uppercase; float:left; height:41px; line-height:41px; padding: 0 20px; }
.page_produit .promotion .montant_promo { float:left; background:url('../img/bg-promo-montant.png'); height:41px; color:#fff; font:bold 18px "Open Sans"; line-height:41px; padding:0 13px; }

/* Recommandations */
.page_produit .recommandations { padding:0 2.5%; margin:0 0 10px 0; text-align:center; }
.page_produit .recommandations h1 { margin:0 10%; font:18px "Open Sans"; text-transform:uppercase; border-bottom:solid 1px #dbdbdb; background:url('../img/light.png') no-repeat; background-size: 12px 21px;}
.page_produit .recommandations figure { width:49%; float:left; margin:20px 0 0 0;}
.page_produit .recommandations figure:nth-child(even) {margin-right:1%; }
.page_produit .recommandations figure img {border-bottom:1px solid #e74c3c; clear: both;min-height: 207px;}
.page_produit .recommandations figure figcaption { text-align: left; display:inline-block; text-transform:uppercase; clear:both; width: 100%; max-width: 320px;}
.page_produit .recommandations figure figcaption h2 { font:bold 15px "Open Sans"; margin:0; }
.page_produit .recommandations figure figcaption h3 { font:15px "Open Sans"; margin:0; }
.page_produit .recommandations figure figcaption p.reco_price { font:bold 17px "Open Sans"; color:#e74c3c; margin:0; }


